.profile-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.profile-container > img {
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  border-radius: 100%;
  border: 2px solid #fff;
  padding: 0.5rem;
}
.profile-container > .name {
  font-size: 2.5rem;
  color: #fff;
}

.profile-container > .email {
  text-transform: lowercase;
  color: #fff;
  font-size: 2rem;
}
.profile-container > .location {
  color: #fff;
  font-size: 2rem;
}

.profile-container .message {
  font-size: 2.5rem;
  color: #fff;
}
