/* Card Styles */
.card-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 30rem;
  height: 42rem;
  margin: 2rem 3.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding: 1rem;
  text-align: center;
}
.card:hover {
  transform: scale(1.03);
}
.empty-card {
  background-color: rgb(241, 255, 212);
  height: 86vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .image {
  height: 60%;
  width: 100%;
}
.card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.card .name {
  padding: 0.5rem 0.7rem;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.card .description {
  height: 10%;
  font-size: 1.5rem;
  border-radius: 1rem;
  overflow: auto;
}
.description::-webkit-scrollbar {
  display: none;
}
.card button {
  width: 100%;
  background-color: rgb(105, 105, 105);
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.9rem;
  transition: 0.3s ease;
}
.card button:hover {
  background-color: #999;
  color: black;
}
.requestBtns {
  display: flex;
}
.card .request {
  width: 40%;
  margin: 0rem 1.5rem;
}
@media screen and (max-width: 800px) {
  .card {
    width: 28rem;
  }
}
