@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: purple;
}
/* SignUp Form */
/* =========== */

.signup {
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000099;
  border-radius: 12px;
}
/* Custom Check Box */
.container-check-box {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #ccc;
  border-radius: 2px;
}
.container-check-box:hover input ~ .checkmark {
  background-color: #757575;
}
.container-check-box input:checked ~ .checkmark {
  background-color: #000099;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check-box input:checked ~ .checkmark:after {
  display: block;
}
.container-check-box .checkmark:after {
  left: 5px;
  top: 1px;
  width: 0.3rem;
  height: 0.8rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-heading {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 2px solid #000099;
}
.form-control {
  width: 80%;
  padding: 0.25rem;
  margin: 0.25rem;
}
.form-label {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.form-control input {
  width: 100%;
  padding: 0.5rem 0.7rem;
  border: none;
  outline: none;
  border-radius: 3px;
  border: 0.5px solid #000099;
  margin-top: 0.25rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}
.form-control input:hover,
.form-control input:active {
  background-color: #eee;
}
.form-submit-button {
  text-align: center;
  padding: 0.3rem !important;
}
.form-control .button,
.form-control .button-captcha {
  background-color: #fff;
  border: 1px solid #000099;
  color: #000099;
  transition: all 0.3s ease-in-out;
}
.form-control span {
  color: tomato;
  font-size: 1.2rem;
}
.form-control .link {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control .link a {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.form-control .button {
  width: 50%;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.form-control .button-captcha {
  margin: 0;
  padding: 0.5rem;
  width: 30%;
}
.form-control .button:hover,
.form-control .button-captcha:hover {
  color: #fff;
  background-color: #000099;
  border: 1px solid #fff;
}
.captcha {
  background: linear-gradient(90deg, rgba(255, 46, 0, 1) 0%, rgba(240, 255, 158, 1) 29%, rgba(160, 226, 138, 1) 68%, rgba(0, 151, 255, 1) 100%);
  color: black;
  height: 30px;
  width: 65%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  letter-spacing: 5px;
}
.form-control-captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

@media screen and (max-width: 500px) {
  .container-check-box {
    font-size: 1.3rem;
  }
}
